dify_workflows/02_party_generator.yml
app:
  description: 根据玩家职业和模组信息，生成平衡的AI队友配置
  icon: "\U0001F5E1"
  icon_background: '#E0F2FE'
  mode: workflow
  name: DnD队伍生成器
  use_icon_as_answer_icon: false
kind: app
version: '0.2'
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - remote_url
        - local_file
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: edge-start-code
      source: node-start
      sourceHandle: source
      target: node-code-role-analysis
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: edge-code-llm
      source: node-code-role-analysis
      sourceHandle: source
      target: node-llm-generate
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: edge-llm-code2
      source: node-llm-generate
      sourceHandle: source
      target: node-code-calc-stats
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: edge-code2-end
      source: node-code-calc-stats
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 接收玩家信息和模组配置
        selected: false
        title: 开始
        type: start
        variables:
        - label: 玩家职业
          max_length: 50
          options: []
          required: true
          type: text-input
          variable: player_class
        - label: 玩家种族
          max_length: 50
          options: []
          required: true
          type: text-input
          variable: player_race
        - label: 玩家等级
          max_length: 10
          options: []
          required: true
          type: text-input
          variable: player_level
        - label: 队伍总人数
          max_length: 10
          options: []
          required: true
          type: text-input
          variable: party_size
        - label: 模组数据JSON
          max_length: 10000
          options: []
          required: true
          type: paragraph
          variable: module_data
      height: 240
      id: node-start
      position:
        x: 80
        y: 180
      positionAbsolute:
        x: 80
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import json

          # DnD 5e 职业职能分类
          ROLE_MAP = {
              'tank': ['fighter', 'paladin', 'barbarian', '战士', '圣武士', '野蛮人'],
              'healer': ['cleric', 'druid', 'bard', '牧师', '德鲁伊', '吟游诗人'],
              'arcane_dps': ['wizard', 'sorcerer', 'warlock', '法师', '术士', '魔契师', '邪术师'],
              'martial_dps': ['fighter', 'ranger', 'monk', 'rogue', '战士', '游侠', '武僧', '游荡者'],
              'utility': ['rogue', 'ranger', 'bard', '游荡者', '游侠', '吟游诗人'],
          }

          ROLE_FILL = {
              'tank': {'class': 'Fighter', 'subclass': 'Champion', 'role_desc': '坚守前线的护盾'},
              'healer': {'class': 'Cleric', 'subclass': 'Life Domain', 'role_desc': '支撑队伍的治愈者'},
              'arcane_dps': {'class': 'Wizard', 'subclass': 'Evocation', 'role_desc': '强力的奥术输出'},
              'utility': {'class': 'Rogue', 'subclass': 'Thief', 'role_desc': '灵活的探索专家'},
          }

          def main(player_class: str, player_level: str, party_size: str, module_data: str) -> dict:
              try:
                  module = json.loads(module_data) if module_data else {}
              except:
                  module = {}

              level = int(player_level) if player_level.isdigit() else 3
              size = int(party_size) if party_size.isdigit() else 4
              companions_needed = max(0, size - 1)

              pc_lower = player_class.lower()
              covered_roles = set()
              for role, classes in ROLE_MAP.items():
                  if any(c.lower() in pc_lower or pc_lower in c.lower() for c in classes):
                      covered_roles.add(role)

              # 确定缺少的职能，按优先级排序
              priority_roles = ['healer', 'tank', 'arcane_dps', 'utility']
              needed_roles = [r for r in priority_roles if r not in covered_roles]

              # 分配职能给队友
              assigned = []
              for i in range(companions_needed):
                  if i < len(needed_roles):
                      role = needed_roles[i]
                  else:
                      # 超出缺口数量则循环补充
                      role = priority_roles[i % len(priority_roles)]
                  fill = ROLE_FILL.get(role, ROLE_FILL['utility'])
                  assigned.append({
                      'slot': i + 1,
                      'needed_role': role,
                      'suggested_class': fill['class'],
                      'suggested_subclass': fill['subclass'],
                      'role_desc': fill['role_desc'],
                      'level': level
                  })

              return {
                  'companions_needed': companions_needed,
                  'role_assignments': json.dumps(assigned, ensure_ascii=False),
                  'module_setting': module.get('setting', '标准奇幻世界'),
                  'module_tone': module.get('tone', '标准冒险'),
                  'level': level
              }
        code_language: python3
        desc: 分析队伍职能缺口，确定需要生成的AI队友类型
        outputs:
          companions_needed:
            type: number
          role_assignments:
            type: string
          module_setting:
            type: string
          module_tone:
            type: string
          level:
            type: number
        selected: false
        title: 职能缺口分析
        type: code
        variables:
        - value_selector:
          - node-start
          - player_class
          variable: player_class
        - value_selector:
          - node-start
          - player_level
          variable: player_level
        - value_selector:
          - node-start
          - party_size
          variable: party_size
        - value_selector:
          - node-start
          - module_data
          variable: module_data
      height: 54
      id: node-code-role-analysis
      position:
        x: 400
        y: 180
      positionAbsolute:
        x: 400
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 生成具有个性的AI队友角色
        model:
          completion_params:
            temperature: 0.85
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: >-
            你是一个DnD 5e角色创建专家，擅长创造有深度、有个性的角色。
            你需要根据要求生成AI控制的队友角色。
            只返回JSON数组，不要有任何额外文字或markdown标记。
        - role: user
          text: >-
            模组世界观：{{#node-code-role-analysis.module_setting#}}
            模组基调：{{#node-code-role-analysis.module_tone#}}
            角色等级：{{#node-code-role-analysis.level#}}
            职能分配：{{#node-code-role-analysis.role_assignments#}}

            请根据以上信息，为每个职能槽生成一个AI队友角色，返回JSON数组格式：
            [
              {
                "slot": 职能槽编号,
                "name": "符合模组世界观的角色名字",
                "race": "种族（标准DnD 5e种族）",
                "class": "职业",
                "subclass": "子职业",
                "level": 等级,
                "background": "背景职业（如学者/士兵/罪犯等）",
                "alignment": "阵营（如守序善良/中立善良等）",
                "personality_traits": "性格特点（2-3句话，有具体细节）",
                "speech_style": "说话风格（如简洁干练/话多热情/冷静观察/幽默调皮）",
                "combat_preference": "战斗倾向（如激进突前/冷静支援/保护队友/机会主义）",
                "backstory": "背景故事（80字以内，与模组世界观相符）",
                "ability_scores": {
                  "str": 数值, "dex": 数值, "con": 数值,
                  "int": 数值, "wis": 数值, "cha": 数值
                },
                "catchphrase": "一句标志性口头禅"
              }
            ]

            要求：
            - 性格要多样化，避免都是严肃类型
            - 能力值总和约75-78点（体现职业侧重）
            - 名字要符合世界观风格
        selected: false
        title: 生成AI队友角色
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: node-llm-generate
      position:
        x: 720
        y: 180
      positionAbsolute:
        x: 720
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import json

          # DnD 5e 能力值修正值计算
          def mod(score):
              return (score - 10) // 2

          # 职业基础HP骰
          HIT_DICE = {
              'Barbarian': 12, 'Fighter': 10, 'Paladin': 10, 'Ranger': 10,
              'Monk': 8, 'Rogue': 8, 'Bard': 8, 'Cleric': 8, 'Druid': 8, 'Warlock': 8,
              'Sorcerer': 6, 'Wizard': 6, 'default': 8
          }

          # 职业护甲
          BASE_AC = {
              'Barbarian': 10, 'Fighter': 16, 'Paladin': 18,
              'Rogue': 13, 'Ranger': 14, 'Monk': 10,
              'Wizard': 12, 'Sorcerer': 12, 'Warlock': 12,
              'Cleric': 16, 'Druid': 14, 'Bard': 13, 'default': 13
          }

          def calc_proficiency(level):
              return 2 + (level - 1) // 4

          def main(llm_output: str, level: int) -> dict:
              try:
                  text = llm_output.strip()
                  if text.startswith('```'):
                      lines = text.split('\n')
                      text = '\n'.join(lines[1:])
                      if text.endswith('```'):
                          text = text[:-3].strip()

                  companions = json.loads(text)
                  prof_bonus = calc_proficiency(level)

                  for c in companions:
                      scores = c.get('ability_scores', {})
                      str_s = scores.get('str', 10)
                      dex_s = scores.get('dex', 10)
                      con_s = scores.get('con', 10)

                      cls = c.get('class', 'default')
                      hit_die = HIT_DICE.get(cls, HIT_DICE['default'])
                      base_ac = BASE_AC.get(cls, BASE_AC['default'])

                      c['derived'] = {
                          'hp_max': hit_die + mod(con_s) + (level - 1) * (hit_die // 2 + 1 + mod(con_s)),
                          'ac': base_ac,
                          'initiative': mod(dex_s),
                          'proficiency_bonus': prof_bonus,
                          'attack_bonus': prof_bonus + mod(str_s),
                          'ability_modifiers': {
                              'str': mod(str_s), 'dex': mod(dex_s), 'con': mod(con_s),
                              'int': mod(scores.get('int', 10)),
                              'wis': mod(scores.get('wis', 10)),
                              'cha': mod(scores.get('cha', 10))
                          }
                      }
                      c['hp_current'] = c['derived']['hp_max']

                  return {
                      'companions': json.dumps(companions, ensure_ascii=False),
                      'success': True,
                      'error_msg': ''
                  }
              except Exception as e:
                  return {
                      'companions': '[]',
                      'success': False,
                      'error_msg': str(e)
                  }
        code_language: python3
        desc: 计算每个队友的HP、AC、先攻等衍生属性
        outputs:
          companions:
            type: string
          success:
            type: string
          error_msg:
            type: string
        selected: false
        title: 计算衍生属性
        type: code
        variables:
        - value_selector:
          - node-llm-generate
          - text
          variable: llm_output
        - value_selector:
          - node-code-role-analysis
          - level
          variable: level
      height: 54
      id: node-code-calc-stats
      position:
        x: 1040
        y: 180
      positionAbsolute:
        x: 1040
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 返回完整的队伍配置
        outputs:
        - value_selector:
          - node-code-calc-stats
          - companions
          variable: companions
        - value_selector:
          - node-code-calc-stats
          - success
          variable: success
        - value_selector:
          - node-code-calc-stats
          - error_msg
          variable: error_msg
        selected: false
        title: 结束
        type: end
      height: 98
      id: node-end
      position:
        x: 1360
        y: 180
      positionAbsolute:
        x: 1360
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.75
