dify_workflows/03_dm_agent.yml
app:
  description: >-
    全能DM代理 v1.0 —— 统一处理所有游戏逻辑。
    战斗模式：裁定5e规则（命中/伤害/豁免/条件）+ 控制所有AI单位回合 + 生成战斗叙述。
    探索模式：推进剧情 + 扮演NPC + 裁定技能检定 + 触发战斗判断。
    本地层只负责存储 state_delta 并更新数据库，所有规则由AI裁定。
    替代原 WF3（地下城主）和 WF4（战斗叙述器）。
  icon: "🎲"
  icon_background: '#EDE9FE'
  mode: workflow
  name: DnD全能DM代理
  use_icon_as_answer_icon: false
kind: app
version: '1.0'
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - remote_url
        - local_file
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: edge-start-dice
      source: start
      sourceHandle: source
      target: node-code-dice
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: edge-dice-ifelse
      source: node-code-dice
      sourceHandle: source
      target: node-ifelse-combat
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: edge-ifelse-true-combat
      source: node-ifelse-combat
      sourceHandle: "true"
      target: node-llm-combat
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: edge-ifelse-false-explore
      source: node-ifelse-combat
      sourceHandle: "false"
      target: node-llm-explore
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: edge-combat-parse
      source: node-llm-combat
      sourceHandle: source
      target: node-code-parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: edge-explore-parse
      source: node-llm-explore
      sourceHandle: source
      target: node-code-parse
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: edge-parse-end
      source: node-code-parse
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:

    # ================================================================
    # START — 接收完整游戏状态快照和玩家行动
    # ================================================================
    - data:
        desc: >-
          接收玩家行动和完整游戏状态快照。
          game_state 应包含所有战斗/角色/敌人当前状态，
          每次调用都是无状态的，所有上下文必须在此注入。
        selected: false
        title: 开始
        type: start
        variables:
        - label: 玩家行动描述
          max_length: 2000
          options: []
          required: true
          type: paragraph
          variable: player_action
        - label: 完整游戏状态JSON
          max_length: 12000
          options: []
          required: true
          type: paragraph
          variable: game_state
        - label: 近期会话历史（最近N条对话）
          max_length: 5000
          options: []
          required: false
          type: paragraph
          variable: session_history
        - label: 模组背景摘要（当前场景相关信息）
          max_length: 3000
          options: []
          required: false
          type: paragraph
          variable: module_context
        - label: RAG检索内容（当前留空；长团启用后注入模组原文片段或历史事件）
          max_length: 4000
          options: []
          required: false
          type: paragraph
          variable: retrieved_context
      height: 320
      id: start
      position:
        x: 80
        y: 320
      positionAbsolute:
        x: 80
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # ================================================================
    # CODE — 骰子池预掷
    # 在调用 LLM 前一次性掷好所有可能用到的骰子。
    # AI 从骰子池中按需取用，保证随机数的真实性和可见性。
    # ================================================================
    - data:
        code: |
          import random
          import json

          def main(game_state: str) -> dict:
              try:
                  state = json.loads(game_state)
              except:
                  state = {}

              combat_active = state.get('combat_active', False)

              # 预掷骰子池（数量冗余，确保任何情况下够用）
              pool = {
                  # d20 池：玩家攻击/豁免/检定 + AI单位回合（最多6个单位）
                  'd20': [random.randint(1, 20) for _ in range(16)],

                  # 优势/劣势预算（已取高/取低）
                  'adv': [max(random.randint(1,20), random.randint(1,20)) for _ in range(6)],
                  'dis': [min(random.randint(1,20), random.randint(1,20)) for _ in range(6)],

                  # 伤害骰池（各面数保持冗余）
                  'd4':  [random.randint(1, 4)  for _ in range(8)],
                  'd6':  [random.randint(1, 6)  for _ in range(12)],
                  'd8':  [random.randint(1, 8)  for _ in range(8)],
                  'd10': [random.randint(1, 10) for _ in range(6)],
                  'd12': [random.randint(1, 12) for _ in range(4)],

                  # 百面骰（随机事件表）
                  'd100': random.randint(1, 100),

                  # 生命骰（休息用）
                  'hit_dice': [random.randint(1, 8) for _ in range(6)],
              }

              return {
                  'dice_pool': json.dumps(pool, ensure_ascii=False),
                  'combat_active': 'true' if combat_active else 'false'
              }
        code_language: python3
        desc: >-
          预掷骰子池。AI 收到这些骰子后按需取用，
          不得在 LLM 内部生成随机数。
          骰子结果会原样返回给前端做动画展示。
        outputs:
          dice_pool:
            type: string
          combat_active:
            type: string
        selected: false
        title: 预掷骰子池
        type: code
        variables:
        - value_selector:
          - start
          - game_state
          variable: game_state
      height: 54
      id: node-code-dice
      position:
        x: 400
        y: 320
      positionAbsolute:
        x: 400
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # ================================================================
    # IF-ELSE — 战斗模式 vs 探索模式分流
    # ================================================================
    - data:
        conditions:
        - comparison_operator: is
          value: 'true'
          variable_selector:
          - node-code-dice
          - combat_active
        desc: 根据 game_state.combat_active 分流到对应的 DM 代理
        logical_operator: and
        selected: false
        title: 是否处于战斗中？
        type: if-else
      height: 98
      id: node-ifelse-combat
      position:
        x: 700
        y: 320
      positionAbsolute:
        x: 700
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # ================================================================
    # LLM — 战斗DM代理
    # 职责：5e规则裁定 + AI单位决策与执行 + 战斗叙述生成
    # ================================================================
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: >-
          战斗模式DM代理。裁定所有5e战斗规则，
          控制队友和敌人的回合，输出结构化JSON。
        model:
          completion_params:
            temperature: 0.72
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: >-
            你是一个精通DnD 5e规则的全能地下城主代理，当前处于战斗回合中。

            ## 核心职责
            1. 裁定玩家行动的规则结果（命中/伤害/豁免/条件效果）
            2. 依次控制所有AI单位（队友和敌人）完成本回合行动
            3. 生成沉浸式战斗叙述
            4. 精确记录所有状态变化（HP/条件/资源消耗）

            ## 5e战斗规则速查
            **命中判定**
            - 近战/远程攻击：d20 + 攻击加值 ≥ 目标AC → 命中
            - 法术攻击：d20 + 法术攻击加值 ≥ 目标AC → 命中
            - 法术豁免：目标d20 + 豁免加值 ≥ 施法者DC → 豁免成功

            **暴击与失误**
            - 自然20（d20原始值=20）：暴击，基础伤害骰数量翻倍
            - 自然1（d20原始值=1）：自动失误，不论加值

            **常见条件效果**
            - 倒地（prone）：近战攻击获得优势，远程攻击获得劣势；起立消耗一半移动力
            - 中毒/恐惧（poisoned/frightened）：攻击检定和能力检定劣势
            - 失明（blinded）：攻击劣势，被攻击时对方有优势
            - 束缚（restrained）：攻击劣势，被攻击时对方有优势，速度归零
            - 昏迷/麻痹（unconscious/paralyzed）：被近战攻击命中时自动暴击

            **专注中断**
            - 受到伤害时：DC = max(10, 伤害值/2)，CON豁免，失败则中断专注法术

            **濒死豁免**
            - HP归零后每回合掷1d20：≥10成功，<10失败，3成功稳定，3失败阵亡
            - 自然20：立即复活获得1HP；自然1：计为2次失败

            ## 骰子使用规则（严格遵守）
            - 必须从提供的骰子池中按顺序取用数值
            - 禁止在LLM内部自行生成随机数
            - 在 dice_results 中完整记录每次取用的骰子面数、原始值、修正和结果
            - 骰子池用完时，用现有的骰子循环取用

            ## AI单位行动原则
            **敌人策略**
            - 优先攻击HP最低或威胁最高的目标
            - HP低于最大值30%时考虑脱离或使用特殊能力
            - 使用怪物自身的攻击列表（从game_state中读取）

            **AI队友策略**
            - 遵循各自性格和战斗倾向（从party_status读取）
            - 优先治疗濒死队友
            - 使用角色实际拥有的法术和能力

            ## 严格输出格式
            只返回以下JSON，不要有任何其他文字：
            {
              "action_type": "combat_attack|combat_spell|combat_move|combat_disengage|combat_special|combat_dodge",
              "narrative": "战斗叙述文本，100-150字，沉浸感强，第二人称描述玩家行动",
              "dice_results": [
                {
                  "label": "描述（如：玩家攻击骰/地精豁免骰）",
                  "dice_face": 20,
                  "raw": 原始骰子值,
                  "modifier": "+X或-X",
                  "total": 最终值,
                  "against": "对比目标（如：AC15/DC13）",
                  "outcome": "命中/未命中/暴击/失误/成功/失败"
                }
              ],
              "state_delta": {
                "characters": [
                  {
                    "id": "角色ID",
                    "hp_change": 正负整数(负=伤害正=治疗),
                    "conditions_add": ["条件名"],
                    "conditions_remove": ["条件名"],
                    "spell_slots_used": {"1st": 1},
                    "concentration_set": null或"法术名",
                    "concentration_clear": false,
                    "death_saves": null或{"successes_add": 1, "failures_add": 0, "stabilized": false, "revived": false}
                  }
                ],
                "enemies": [
                  {
                    "id": "敌人ID",
                    "hp_change": 负整数,
                    "conditions_add": [],
                    "conditions_remove": [],
                    "dead": false
                  }
                ],
                "combat_end": false,
                "combat_end_result": null
              },
              "ai_turns": [
                {
                  "actor_id": "单位ID",
                  "actor_name": "单位名称",
                  "actor_type": "companion|enemy",
                  "action_desc": "行动简述",
                  "dice_results": [
                    {"label": "攻击", "dice_face": 20, "raw": 值, "modifier": "+X", "total": 值, "against": "AC X", "outcome": "命中/未命中"}
                  ],
                  "narrative": "该单位行动叙述，50-80字",
                  "state_delta": {
                    "characters": [],
                    "enemies": []
                  }
                }
              ],
              "combat_continues": true
            }
        - role: user
          text: >-
            ## 当前游戏状态
            {{#start.game_state#}}

            ## 骰子池（按需顺序取用）
            {{#node-code-dice.dice_pool#}}

            ## 近期历史
            {{#start.session_history#}}

            ## 模组背景
            {{#start.module_context#}}

            ## 补充背景细节（模组原文片段 / 历史关键事件，可能为空）
            {{#start.retrieved_context#}}

            ## 玩家当前行动
            {{#start.player_action#}}

            请裁定玩家行动，依次处理所有AI单位的回合，返回完整JSON：
        selected: false
        title: 战斗DM代理
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: node-llm-combat
      position:
        x: 1000
        y: 150
      positionAbsolute:
        x: 1000
        y: 150
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # ================================================================
    # LLM — 探索DM代理
    # 职责：叙事推进 + NPC对话 + 技能检定声明（不裁定，由本地掷骰）+ 战斗触发判断
    # ================================================================
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: >-
          探索模式DM代理。推进剧情叙事，声明需要哪些技能检定（由本地客户端执行掷骰），
          扮演NPC对话，判断是否触发战斗。
        model:
          completion_params:
            temperature: 0.82
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: >-
            你是一个精通DnD 5e规则的地下城主，当前处于探索/叙事模式。

            ## 核心职责
            1. 根据玩家行动推进剧情，生成沉浸式场景描述
            2. 扮演NPC进行对话，保持角色一致性和阵营倾向
            3. 判断是否需要技能检定，若需要则声明检定要求（骰子由玩家本地掷出）
            4. 判断玩家行动是否应触发战斗
            5. 生成AI队友的自然反应

            ## 叙事风格要求
            - 第二人称沉浸叙述（"你看到..."、"你感觉..."）
            - 调动多种感官（视觉/听觉/嗅觉/触觉）
            - NPC对话有性格，不同阵营反应不同
            - 结尾自然融入2-3个可能的行动暗示，不要列表

            ## 技能检定声明规则
            - 你的职责是【判断是否需要检定并声明规则】，不是替玩家掷骰
            - 当玩家的行动有成功/失败可能性时，设置 needs_check.required = true
            - 在 narrative 中描述"你尝试……"的过程，结尾悬停（不要直接说成功或失败）
            - 检定结果将在玩家掷完骰后的下一轮行动中由你裁定
            - 常见检定DC：简单10，中等15，困难20，极难25
            - 若不需要检定（纯叙事/对话/移动），设置 needs_check.required = false

            ## 战斗触发判断
            以下情况在 state_delta 中设置 combat_trigger = true：
            - 玩家明确表示攻击某个生物
            - 场景中的敌对生物主动发起攻击
            - 谈判/对话破裂且对方有攻击意图
            - 玩家触发了明显的陷阱或战斗遭遇

            ## 严格输出格式
            只返回以下JSON，不要有任何其他文字：
            {
              "action_type": "roleplay|skill_check|dialogue|movement|investigation|rest|lore",
              "narrative": "DM叙述文本，150-200字，沉浸感强，第二人称。若需要检定则描述尝试过程并悬停结尾。",
              "needs_check": {
                "required": false,
                "check_type": "技能名称（如：隐匿、察觉、说服、运动、奥秘）或null",
                "ability": "对应的能力值缩写（str/dex/con/int/wis/cha）或null",
                "dc": 15,
                "character_id": "需要检定的角色ID，通常是玩家角色ID，或null",
                "advantage": false,
                "disadvantage": false,
                "context": "一句话说明为什么需要此检定，供玩家理解（如：'黑暗中潜行，守卫警觉度高'）"
              },
              "dice_results": [],
              "state_delta": {
                "characters": [
                  {
                    "id": "角色ID",
                    "hp_change": 0,
                    "conditions_add": [],
                    "conditions_remove": [],
                    "spell_slots_used": {},
                    "inspiration_gained": false
                  }
                ],
                "enemies": [],
                "combat_trigger": false,
                "combat_trigger_reason": null,
                "initial_enemies": [],
                "scene_advance": false,
                "new_scene_hint": null,
                "npc_attitude_change": null
              },
              "companion_reactions": "1-2个队友的简短反应，格式：[名字]: 台词或动作描述",
              "player_choices": ["可能的后续行动1", "可能的后续行动2", "可能的后续行动3"]
            }

            ## needs_check 示例
            玩家说"我悄悄靠近守卫" → needs_check: {required:true, check_type:"隐匿", ability:"dex", dc:14, ...}
            玩家说"我和酒馆老板聊天" → needs_check: {required:false, ...}
            玩家说"我检查这扇门是否有机关" → needs_check: {required:true, check_type:"调查", ability:"int", dc:15, ...}
        - role: user
          text: >-
            ## 模组背景与当前场景
            {{#start.module_context#}}

            ## 近期会话历史
            {{#start.session_history#}}

            ## 当前游戏状态（角色信息/队伍状态）
            {{#start.game_state#}}

            ## 补充背景细节（模组原文片段 / 历史关键事件，可能为空）
            {{#start.retrieved_context#}}

            ## 玩家行动
            {{#start.player_action#}}

            请推进故事，判断是否需要技能检定，返回完整JSON：
        selected: false
        title: 探索DM代理
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: node-llm-explore
      position:
        x: 1000
        y: 490
      positionAbsolute:
        x: 1000
        y: 490
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # ================================================================
    # CODE — 解析验证节点
    # 清理 LLM 输出，校验关键数值，提取前端所需字段
    # ================================================================
    - data:
        code: |
          import json

          def clamp(val, lo, hi):
              return max(lo, min(hi, val))

          def main(combat_text: str, explore_text: str) -> dict:
              # 取运行了的那个分支的输出
              raw = combat_text.strip() if combat_text and combat_text.strip() else explore_text.strip()

              try:
                  # 清理 markdown 代码块
                  text = raw
                  if text.startswith('```'):
                      lines = text.split('\n')
                      text = '\n'.join(lines[1:])
                      if text.endswith('```'):
                          text = text[:-3].strip()

                  data = json.loads(text)

                  # ── 补全缺失的顶层字段 ──
                  data.setdefault('action_type', 'unknown')
                  data.setdefault('narrative', '')
                  data.setdefault('dice_results', [])
                  data.setdefault('state_delta', {})
                  data.setdefault('companion_reactions', '')
                  data.setdefault('ai_turns', [])
                  data.setdefault('player_choices', [])

                  # ── state_delta 基础校验 ──
                  delta = data['state_delta']
                  delta.setdefault('characters', [])
                  delta.setdefault('enemies', [])
                  delta.setdefault('combat_end', False)
                  delta.setdefault('combat_end_result', None)
                  delta.setdefault('combat_trigger', False)

                  # HP变化必须是整数
                  for entity in delta.get('characters', []) + delta.get('enemies', []):
                      if 'hp_change' in entity:
                          try:
                              entity['hp_change'] = int(entity['hp_change'])
                          except:
                              entity['hp_change'] = 0

                  # AI回合的state_delta同样校验
                  for turn in data.get('ai_turns', []):
                      turn.setdefault('state_delta', {'characters': [], 'enemies': []})
                      for entity in turn['state_delta'].get('characters', []) + turn['state_delta'].get('enemies', []):
                          if 'hp_change' in entity:
                              try:
                                  entity['hp_change'] = int(entity['hp_change'])
                              except:
                                  entity['hp_change'] = 0

                  # ── 提取前端展示用的骰子数据 ──
                  all_dice = list(data.get('dice_results', []))
                  for turn in data.get('ai_turns', []):
                      all_dice.extend(turn.get('dice_results', []))

                  # ── 提取 needs_check（探索分支专用，战斗分支默认 required=false）──
                  needs_check = data.get('needs_check', {'required': False})
                  if not isinstance(needs_check, dict):
                      needs_check = {'required': False}
                  needs_check.setdefault('required', False)
                  needs_check.setdefault('check_type', None)
                  needs_check.setdefault('ability', None)
                  needs_check.setdefault('dc', 10)
                  needs_check.setdefault('character_id', None)
                  needs_check.setdefault('advantage', False)
                  needs_check.setdefault('disadvantage', False)
                  needs_check.setdefault('context', '')

                  return {
                      'result':             json.dumps(data, ensure_ascii=False),
                      'action_type':        data['action_type'],
                      'narrative':          data['narrative'],
                      'state_delta':        json.dumps(delta, ensure_ascii=False),
                      'companion_reactions':data['companion_reactions'],
                      'dice_display':       json.dumps(all_dice, ensure_ascii=False),
                      'needs_check':        json.dumps(needs_check, ensure_ascii=False),
                      'combat_trigger':     str(delta.get('combat_trigger', False)).lower(),
                      'combat_end':         str(delta.get('combat_end', False)).lower(),
                      'success':            'true',
                      'error':              ''
                  }

              except Exception as e:
                  return {
                      'result':             raw,
                      'action_type':        'parse_error',
                      'narrative':          '（DM处理出现异常，请重试当前行动）',
                      'state_delta':        '{}',
                      'companion_reactions':'',
                      'dice_display':       '[]',
                      'needs_check':        '{"required": false}',
                      'combat_trigger':     'false',
                      'combat_end':         'false',
                      'success':            'false',
                      'error':              str(e)
                  }
        code_language: python3
        desc: >-
          解析LLM输出的JSON，补全缺省字段，
          校验HP变化为整数，提取骰子展示数据，
          处理解析失败的降级情况。
        outputs:
          result:
            type: string
          action_type:
            type: string
          narrative:
            type: string
          state_delta:
            type: string
          companion_reactions:
            type: string
          dice_display:
            type: string
          needs_check:
            type: string
          combat_trigger:
            type: string
          combat_end:
            type: string
          success:
            type: string
          error:
            type: string
        selected: false
        title: 解析验证输出
        type: code
        variables:
        - value_selector:
          - node-llm-combat
          - text
          variable: combat_text
        - value_selector:
          - node-llm-explore
          - text
          variable: explore_text
      height: 54
      id: node-code-parse
      position:
        x: 1320
        y: 320
      positionAbsolute:
        x: 1320
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244

    # ================================================================
    # END — 输出所有前端/后端需要的字段
    # ================================================================
    - data:
        desc: >-
          返回完整结果。
          本地后端：读取 state_delta 写库，读取 combat_trigger/combat_end 更新战斗状态。
          前端：显示 narrative，播放 dice_display 动画，展示 companion_reactions。
        outputs:
        - value_selector:
          - node-code-parse
          - result
          variable: result
        - value_selector:
          - node-code-parse
          - action_type
          variable: action_type
        - value_selector:
          - node-code-parse
          - narrative
          variable: narrative
        - value_selector:
          - node-code-parse
          - state_delta
          variable: state_delta
        - value_selector:
          - node-code-parse
          - companion_reactions
          variable: companion_reactions
        - value_selector:
          - node-code-parse
          - dice_display
          variable: dice_display
        - value_selector:
          - node-code-parse
          - needs_check
          variable: needs_check
        - value_selector:
          - node-code-parse
          - combat_trigger
          variable: combat_trigger
        - value_selector:
          - node-code-parse
          - combat_end
          variable: combat_end
        - value_selector:
          - node-code-parse
          - success
          variable: success
        - value_selector:
          - node-code-parse
          - error
          variable: error
        selected: false
        title: 结束
        type: end
      height: 98
      id: node-end
      position:
        x: 1620
        y: 320
      positionAbsolute:
        x: 1620
        y: 320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.6
