dify_workflows/03_game_master_chatflow.yml
app:
  description: >-
    DnD跑团地下城主——Chatflow版本。
    利用原生对话记忆（conversation_id）维持剧情连贯性，无需后端手动传入 session_history。
    根据玩家输入进行叙事推进、NPC对话或触发战斗，输出结构化 JSON 结果供后端解析。
    v0.2：新增 retrieved_context（RAG语义检索）输入、JSON防护节点、记忆窗口优化。
  icon: "🎲"
  icon_background: '#FEF3C7'
  mode: advanced-chat
  name: DnD地下城主（Chatflow）
  use_icon_as_answer_icon: false
kind: app
version: '0.2'
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - remote_url
        - local_file
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: edge-start-llm
      source: node-start
      sourceHandle: source
      target: node-llm-dm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: edge-llm-code-guard
      source: node-llm-dm
      sourceHandle: source
      target: node-code-json-guard
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: answer
      id: edge-code-answer
      source: node-code-json-guard
      sourceHandle: source
      target: node-answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 接收游戏状态和模组背景（无需传入对话历史，由 Chatflow 原生维护）
        selected: false
        title: 开始
        type: start
        variables:
        - label: 游戏状态JSON
          max_length: 8000
          options: []
          required: true
          type: paragraph
          variable: game_state
        - label: 模组背景JSON
          max_length: 4000
          options: []
          required: true
          type: paragraph
          variable: module_context
        - label: 战役长期记忆（Checkpoint存档）
          max_length: 3000
          options: []
          required: false
          type: paragraph
          variable: campaign_memory
        - label: RAG语义检索内容
          max_length: 2000
          options: []
          required: false
          type: paragraph
          variable: retrieved_context
      height: 370
      id: node-start
      position:
        x: 80
        y: 200
      positionAbsolute:
        x: 80
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: >-
          地下城主核心推理节点。
          memory.enabled=true 使 Dify 自动注入历史对话，实现跨轮次记忆。
          输出严格 JSON，供后端 StateApplicator 解析。
        memory:
          enabled: true
          role_prefix:
            assistant: 地下城主
            user: 玩家
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.7
            max_tokens: 2000
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: |
            你是这场DnD冒险的全能地下城主（DM），主宰着完整的游戏世界。
            你记得与玩家的每一次对话（由系统自动维护），能够引用早先发生的事件、NPC的承诺、以及玩家的选择。

            ═══ 当前游戏状态 ═══
            {{#node-start.game_state#}}

            ═══ 模组背景 ═══
            {{#node-start.module_context#}}

            ═══ 战役长期记忆（跨存档摘要）═══
            {{#node-start.campaign_memory#}}

            ═══ 模组相关资料（语义检索）═══
            {{#node-start.retrieved_context#}}

            ───────────────────────────────────────
            ## 输出格式（严格遵守：只输出 JSON，不要有任何前缀、解释或 Markdown 代码块）

            {
              "action_type": "exploration | combat | dialogue",
              "narrative": "DM叙事文本（150-200字，第二人称沉浸式叙述）",
              "companion_reactions": "「队友名]: \"说的话或动作描述\"\n[队友名2]: \"...\"\n最多2个队友，有时可以留空",
              "needs_check": {
                "required": false,
                "skill": "技能中文名，如感知/运动/说服",
                "dc": 0
              },
              "dice_results": [],
              "state_delta": {
                "combat_trigger": false,
                "initial_enemies": [],
                "scene_advance": false,
                "new_scene_hint": "",
                "characters": [],
                "enemies": [],
                "combat_end": false,
                "combat_end_result": ""
              },
              "player_choices": ["可选行动1", "可选行动2", "可选行动3"]
            }

            ───────────────────────────────────────
            ## 各字段说明

            **action_type**
            - "exploration"：移动、观察、检查、解谜、休息等探索行为
            - "dialogue"：与NPC交谈、询问信息、谈判、说服
            - "combat"：宣布攻击、施法造伤、战斗触发

            **narrative**（必填）
            - 探索/战斗：第二人称叙述，150-200字，调动视觉/听觉/嗅觉感官细节
            - 对话：以DM身份描述NPC反应，先描述氛围（1-2句），再写NPC发言（引号标注），100-150字
            - 结尾自然融入1-3个玩家可采取的行动暗示，不要用列表

            **needs_check**
            - 当行动合理需要技能检定时（如攀岩、说服、侦测陷阱），required=true
            - skill填写中文技能名，dc根据难度设定（简单10，普通15，困难20，极难25）
            - 实际骰子由后端本地掷出，你只需声明"需要什么检定"即可

            **dice_results**（叙事骰子展示，用于前端动画）
            - 仅在叙述中发生了有意义的随机事件时填写（如陷阱触发、环境效果、NPC暗中行动）
            - 格式：[{"label": "陷阱伤害", "faces": 6, "result": 4}, ...]
            - faces 可取值：4/6/8/10/12/20/100
            - result 填写你叙事中所说的骰子结果
            - 玩家技能检定和战斗攻击骰由后端系统掷出，不需要在此填写
            - 多数情况下保持空数组 []

            **state_delta.combat_trigger**
            - 当玩家行动或场景事件触发战斗时设为 true
            - initial_enemies 示例：
              [
                {
                  "name": "哥布林", "hp": 7, "hp_max": 7, "ac": 15,
                  "attack_bonus": 4, "damage_dice": "1d6+2",
                  "tactics": "优先攻击HP最低的目标",
                  "resistances": [], "immunities": [],
                  "actions": [
                    {"name": "弯刀", "type": "melee_attack", "attack_bonus": 4,
                     "damage_dice": "1d6+2", "damage_type": "斩击", "extra_effects": ""}
                  ],
                  "ability_scores": {"str": 8, "dex": 14, "con": 10, "int": 10, "wis": 8, "cha": 8}
                }
              ]
            - 此时 action_type 也应为 "combat"

            **state_delta.scene_advance**
            - 当玩家成功推进剧情、进入新场景时设为 true
            - new_scene_hint 填写新场景的简短描述（1-2句），后端用于更新 current_scene

            **state_delta.characters**（非战斗HP变化，如陷阱/毒素/恢复）
            - [{"id": "角色UUID", "hp_change": -5, "conditions_add": ["中毒"], "conditions_remove": []}]
            - hp_change 正数=治疗，负数=伤害

            **companion_reactions**
            - 每个队友1-2句，体现各自个性（幽默/谨慎/热血等）
            - 格式：[队友名]: "说的话"
            - 不是每次都需要反应，无戏剧性关联时可留空字符串

        - role: user
          text: "{{#sys.query#}}"
        selected: false
        title: 地下城主
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: node-llm-dm
      position:
        x: 400
        y: 200
      positionAbsolute:
        x: 400
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import json, re

          def main(llm_text: str) -> dict:
              text = llm_text.strip()
              # 去掉 markdown 代码块包裹
              text = re.sub(r'^```(?:json)?\s*', '', text)
              text = re.sub(r'\s*```$', '', text)
              text = text.strip()

              try:
                  json.loads(text)
                  return {"result": text}
              except Exception:
                  # JSON 解析失败：把原文作为叙事，返回合法的降级 JSON
                  fallback = {
                      "action_type": "exploration",
                      "narrative": llm_text or "（DM正在思考...）",
                      "companion_reactions": "",
                      "needs_check": {"required": False, "skill": "", "dc": 0},
                      "dice_results": [],
                      "state_delta": {
                          "combat_trigger": False,
                          "initial_enemies": [],
                          "scene_advance": False,
                          "new_scene_hint": "",
                          "characters": [],
                          "enemies": [],
                          "combat_end": False,
                          "combat_end_result": ""
                      },
                      "player_choices": []
                  }
                  return {"result": json.dumps(fallback, ensure_ascii=False)}
        code_language: python3
        desc: 清理 LLM 输出的 Markdown 包裹，并在 JSON 解析失败时生成降级响应
        outputs:
          result:
            type: string
        selected: false
        title: JSON 防护
        type: code
        variables:
        - value_selector:
          - node-llm-dm
          - text
          variable: llm_text
      height: 54
      id: node-code-json-guard
      position:
        x: 720
        y: 200
      positionAbsolute:
        x: 720
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "{{#node-code-json-guard.result#}}"
        desc: 输出地下城主的结构化 JSON 响应
        selected: false
        title: 输出结果
        type: answer
      height: 98
      id: node-answer
      position:
        x: 1040
        y: 200
      positionAbsolute:
        x: 1040
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.8
