dify_workflows/03_game_master.yml
app:
  description: >-
    DnD跑团主循环——根据玩家输入进行叙事推进、NPC对话或触发战斗。
    双重用途：(1) 正常跑团叙事；(2) 战役档案存档模式——
    当 player_input 为 _CAMPAIGN_STATE_PROMPT 时，输出结构化 JSON 战役档案。
  icon: "\U0001F3B2"
  icon_background: '#FEF3C7'
  mode: workflow
  name: DnD地下城主
  use_icon_as_answer_icon: false
kind: app
version: '0.2'
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - remote_url
        - local_file
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: edge-start-classify
      source: node-start
      sourceHandle: source
      target: node-llm-classify
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: if-else
      id: edge-classify-ifelse1
      source: node-llm-classify
      sourceHandle: source
      target: node-ifelse-combat
      targetHandle: target
      type: custom
      zIndex: 0
    # 战斗分支
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: edge-ifelse1-true-end
      source: node-ifelse-combat
      sourceHandle: "true"
      target: node-end-combat
      targetHandle: target
      type: custom
      zIndex: 0
    # 非战斗分支 → 第二个条件判断
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: edge-ifelse1-false-ifelse2
      source: node-ifelse-combat
      sourceHandle: "false"
      target: node-ifelse-dialogue
      targetHandle: target
      type: custom
      zIndex: 0
    # 对话分支
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: edge-ifelse2-true-dialogue
      source: node-ifelse-dialogue
      sourceHandle: "true"
      target: node-llm-dialogue
      targetHandle: target
      type: custom
      zIndex: 0
    # 探索叙事分支
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: edge-ifelse2-false-narrate
      source: node-ifelse-dialogue
      sourceHandle: "false"
      target: node-llm-narrate
      targetHandle: target
      type: custom
      zIndex: 0
    # 对话结果 → 队友反应
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: edge-dialogue-companion
      source: node-llm-dialogue
      sourceHandle: source
      target: node-llm-companion-react
      targetHandle: target
      type: custom
      zIndex: 0
    # 叙事结果 → 队友反应
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: edge-narrate-companion
      source: node-llm-narrate
      sourceHandle: source
      target: node-llm-companion-react
      targetHandle: target
      type: custom
      zIndex: 0
    # 队友反应 → 结束
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: edge-companion-end
      source: node-llm-companion-react
      sourceHandle: source
      target: node-end-normal
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 接收游戏状态和玩家输入
        selected: false
        title: 开始
        type: start
        variables:
        - label: 玩家输入
          max_length: 2000
          options: []
          required: true
          type: paragraph
          variable: player_input
        - label: 当前场景描述
          max_length: 2000
          options: []
          required: true
          type: paragraph
          variable: current_scene
        - label: 会话历史摘要
          max_length: 5000
          options: []
          required: false
          type: paragraph
          variable: session_history
        - label: 模组背景摘要
          max_length: 3000
          options: []
          required: true
          type: paragraph
          variable: module_summary
        - label: 队伍状态JSON
          max_length: 5000
          options: []
          required: false
          type: paragraph
          variable: party_status
        - label: 当前NPC列表JSON
          max_length: 3000
          options: []
          required: false
          type: paragraph
          variable: npcs_present
      height: 320
      id: node-start
      position:
        x: 80
        y: 200
      positionAbsolute:
        x: 80
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 判断玩家输入属于哪种交互类型
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: >-
            你是一个DnD跑团输入分类器。
            根据玩家的输入，判断属于哪种类型，只返回一个单词：
            - combat（战斗相关：攻击、施法造成伤害、使用武器、宣布战斗）
            - dialogue（对话相关：与NPC交谈、询问信息、谈判、说服）
            - exploration（探索叙事：移动、观察、检查物品、解谜、休息、其他行动）
            只返回这三个词之一，不要有其他内容。
        - role: user
          text: >-
            当前场景：{{#node-start.current_scene#}}
            玩家输入：{{#node-start.player_input#}}

            这属于什么类型？（combat/dialogue/exploration）
        selected: false
        title: 分类玩家输入
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: node-llm-classify
      position:
        x: 400
        y: 200
      positionAbsolute:
        x: 400
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        conditions:
        - comparison_operator: contains
          value: combat
          variable_selector:
          - node-llm-classify
          - text
        desc: 是否为战斗行动
        logical_operator: and
        selected: false
        title: 是否触发战斗？
        type: if-else
      height: 98
      id: node-ifelse-combat
      position:
        x: 700
        y: 200
      positionAbsolute:
        x: 700
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        conditions:
        - comparison_operator: contains
          value: dialogue
          variable_selector:
          - node-llm-classify
          - text
        desc: 是否为对话行动
        logical_operator: and
        selected: false
        title: 是否为对话？
        type: if-else
      height: 98
      id: node-ifelse-dialogue
      position:
        x: 700
        y: 450
      positionAbsolute:
        x: 700
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    # 战斗触发端节点（只标记触发，实际战斗由前端战斗系统处理）
    - data:
        desc: 战斗被触发，返回战斗信号
        outputs:
        - value_selector:
          - node-llm-classify
          - text
          variable: action_type
        - value_selector:
          - node-start
          - player_input
          variable: combat_trigger_action
        selected: false
        title: 触发战斗
        type: end
      height: 98
      id: node-end-combat
      position:
        x: 1000
        y: 80
      positionAbsolute:
        x: 1000
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 处理玩家与NPC的对话互动
        model:
          completion_params:
            temperature: 0.75
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: >-
            你是这场DnD冒险的地下城主，负责扮演NPC进行对话。

            规则：
            1. 根据NPC的性格和阵营来回应，保持角色一致性
            2. NPC不会轻易泄露关键信息，需要玩家通过说服/魅力检定
            3. 如果玩家说了可能触发检定的话，在回应末尾用[需要检定: XX类型 DC:XX]标注
            4. 回应简洁有力，NPC每次发言不超过120字
            5. 用引号标注NPC的直接对话内容
        - role: user
          text: >-
            模组背景：{{#node-start.module_summary#}}
            当前场景：{{#node-start.current_scene#}}
            历史记录：{{#node-start.session_history#}}
            当前NPC：{{#node-start.npcs_present#}}

            玩家说/做：{{#node-start.player_input#}}

            请以DM身份描述NPC的反应（先简短描述场景氛围，再写NPC回应）：
        selected: false
        title: NPC对话处理
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: node-llm-dialogue
      position:
        x: 1000
        y: 350
      positionAbsolute:
        x: 1000
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 处理探索、移动等叙事行动
        model:
          completion_params:
            temperature: 0.8
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: >-
            你是这场DnD冒险的地下城主，负责叙事推进和场景描述。

            规则：
            1. 用沉浸的第二人称叙述（"你看到..."、"你感觉..."）
            2. 描述要有细节，调动感官（视觉、听觉、嗅觉）
            3. 根据玩家行动合理推进剧情
            4. 如果需要技能检定，用[需要检定: XX技能 DC:XX]标注
            5. 结尾给出2-3个玩家可以采取的行动暗示，不要用列表，自然融入叙述
            6. 每次回应150-200字
        - role: user
          text: >-
            模组背景：{{#node-start.module_summary#}}
            当前场景：{{#node-start.current_scene#}}
            历史记录：{{#node-start.session_history#}}
            队伍状态：{{#node-start.party_status#}}

            玩家行动：{{#node-start.player_input#}}

            请描述接下来发生的事情：
        selected: false
        title: 探索叙事处理
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: node-llm-narrate
      position:
        x: 1000
        y: 550
      positionAbsolute:
        x: 1000
        y: 550
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: >-
          生成AI队友对当前事件的反应。
          战役档案模式下：party_status 为现有 campaign_state JSON，
          player_input 为结构化提示，输出会被解析为新的 campaign_state JSON。
        model:
          completion_params:
            temperature: 0.9
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: >-
            你负责扮演玩家的AI队友，根据各自性格对刚才发生的事情做出反应。

            规则：
            1. 每个队友只说1-2句话，体现各自性格
            2. 反应要自然，不是每次都要评论，有时沉默也是选项
            3. 队友可以有情绪（担忧/兴奋/怀疑/幽默）
            4. 格式：[队友名]: "说的话或动作描述"
            5. 最多生成2个队友的反应，挑最有戏剧性或相关性的
        - role: user
          text: >-
            队伍成员：{{#node-start.party_status#}}

            刚才发生的事：
            玩家行动：{{#node-start.player_input#}}

            请生成1-2个队友的简短反应：
        selected: false
        title: 队友反应生成
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: node-llm-companion-react
      position:
        x: 1300
        y: 450
      positionAbsolute:
        x: 1300
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 返回叙事结果和队友反应
        outputs:
        - value_selector:
          - node-llm-classify
          - text
          variable: action_type
        - value_selector:
          - node-llm-companion-react
          - text
          variable: companion_reactions
        selected: false
        title: 结束（叙事/对话）
        type: end
      height: 98
      id: node-end-normal
      position:
        x: 1600
        y: 450
      positionAbsolute:
        x: 1600
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.65
