dify_workflows/04_combat_narrator.yml
app:
  description: 接收本地已计算好的战斗结果，生成文学化的战斗叙述文本
  icon: "⚔️"
  icon_background: '#FEE2E2'
  mode: workflow
  name: DnD战斗叙述器
  use_icon_as_answer_icon: false
kind: app
version: '0.1'
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - remote_url
        - local_file
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: edge-start-ifelse
      source: node-start
      sourceHandle: source
      target: node-ifelse-actor
      targetHandle: target
      type: custom
      zIndex: 0
    # 玩家行动 → 玩家叙述
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: edge-ifelse-true-player
      source: node-ifelse-actor
      sourceHandle: "true"
      target: node-llm-narrate-player
      targetHandle: target
      type: custom
      zIndex: 0
    # AI行动 → AI叙述
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: edge-ifelse-false-ai
      source: node-ifelse-actor
      sourceHandle: "false"
      target: node-llm-narrate-ai
      targetHandle: target
      type: custom
      zIndex: 0
    # 玩家叙述 → 结束
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: edge-player-end
      source: node-llm-narrate-player
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    # AI叙述 → 结束
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: edge-ai-end
      source: node-llm-narrate-ai
      sourceHandle: source
      target: node-end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: >-
          接收本地引擎已计算好的战斗结果。
          注意：所有骰子计算（攻击/伤害/豁免）均由 Python 本地完成，此处只做叙述。
        selected: false
        title: 开始
        type: start
        variables:
        - label: 行动者名称
          max_length: 100
          options: []
          required: true
          type: text-input
          variable: actor_name
        - label: 行动者类型（player/companion/enemy）
          max_length: 20
          options: []
          required: true
          type: text-input
          variable: actor_type
        - label: 目标名称
          max_length: 100
          options: []
          required: false
          type: text-input
          variable: target_name
        - label: 是否命中（true/false）
          max_length: 10
          options: []
          required: true
          type: text-input
          variable: hit
        - label: 伤害/治疗量（负数=治疗）
          max_length: 10
          options: []
          required: true
          type: text-input
          variable: damage
        - label: 骰子摘要（如 d20=17, 攻击=20 vs AC15）
          max_length: 200
          options: []
          required: false
          type: text-input
          variable: roll_summary
        - label: 是否暴击（true/false）
          max_length: 10
          options: []
          required: false
          type: text-input
          variable: is_crit
        - label: 行动描述（施法名/攻击类型等）
          max_length: 200
          options: []
          required: false
          type: paragraph
          variable: action_desc
        - label: 当前回合数
          max_length: 10
          options: []
          required: false
          type: text-input
          variable: round_number
      height: 440
      id: node-start
      position:
        x: 80
        y: 200
      positionAbsolute:
        x: 80
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        conditions:
        - comparison_operator: is
          value: player
          variable_selector:
          - node-start
          - actor_type
        desc: 判断是玩家行动还是AI行动
        logical_operator: and
        selected: false
        title: 是否玩家行动？
        type: if-else
      height: 98
      id: node-ifelse-actor
      position:
        x: 400
        y: 200
      positionAbsolute:
        x: 400
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 为玩家行动生成沉浸式战斗叙述（骰子结果已由本地计算）
        model:
          completion_params:
            temperature: 0.85
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: >-
            你是DnD战斗的叙述者，根据已知的战斗结果（命中/未命中/暴击）生成生动的叙述文本。

            规则：
            1. 用第二人称（"你..."）描述玩家行动
            2. 命中且暴击：叙述充满戏剧张力，强调冲击感
            3. 命中未暴击：简洁有力，描述攻击动作和目标反应
            4. 未命中：表现紧张感和惋惜，描述目标如何躲避
            5. 控制在40-70字以内，末尾一句话描述目标当前状态
            6. 不要重复骰子数字，将其融入叙事（"你的剑精准地"而非"你投出了17"）
        - role: user
          text: >-
            行动者：{{#node-start.actor_name#}}（玩家）
            目标：{{#node-start.target_name#}}
            行动：{{#node-start.action_desc#}}
            命中：{{#node-start.hit#}}
            暴击：{{#node-start.is_crit#}}
            伤害：{{#node-start.damage#}}
            骰子摘要：{{#node-start.roll_summary#}}
            第{{#node-start.round_number#}}回合

            请用生动的语言描述这个战斗动作的结果：
        selected: false
        title: 生成玩家行动叙述
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: node-llm-narrate-player
      position:
        x: 700
        y: 80
      positionAbsolute:
        x: 700
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 为AI行动（敌人或队友）生成战斗叙述
        model:
          completion_params:
            temperature: 0.85
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - role: system
          text: >-
            你是DnD战斗的叙述者，根据已知的AI单位行动结果生成叙述文本。

            规则：
            1. 用第三人称叙述（"[名字]..."）
            2. 敌人行动：充满威胁感，体现敌人的危险性
            3. 队友行动：展现英雄气概，符合各自性格
            4. 命中：描述攻击的冲击和目标受击反应
            5. 未命中：描述目标的闪避或阻挡
            6. 治疗：温暖治愈的气氛，描述光芒/能量等视觉效果
            7. 控制在40-70字以内，末尾说明HP变化效果
        - role: user
          text: >-
            行动者：{{#node-start.actor_name#}}（{{#node-start.actor_type#}}）
            目标：{{#node-start.target_name#}}
            行动：{{#node-start.action_desc#}}
            命中：{{#node-start.hit#}}
            暴击：{{#node-start.is_crit#}}
            伤害/治疗：{{#node-start.damage#}}
            骰子摘要：{{#node-start.roll_summary#}}
            第{{#node-start.round_number#}}回合

            请生动描述这个AI单位的战斗行动：
        selected: false
        title: 生成AI行动叙述
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: node-llm-narrate-ai
      position:
        x: 700
        y: 360
      positionAbsolute:
        x: 700
        y: 360
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 返回战斗叙述文本
        outputs:
        - value_selector:
          - node-start
          - actor_name
          variable: actor_name
        - value_selector:
          - node-start
          - actor_type
          variable: actor_type
        - value_selector:
          - node-start
          - target_name
          variable: target_name
        selected: false
        title: 结束
        type: end
      height: 98
      id: node-end
      position:
        x: 1000
        y: 200
      positionAbsolute:
        x: 1000
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.75
